@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Магазин цветов</title>
</head>

<body background="~/Content/Images/Цветы.jpg" ; background-size:contain;>
    <font color="white" size="20">Welcome to Flower store site.</font>
    <p><img src="~/Content/Images/Flowers.gif" alt="GIF"></p>
</body>
</html>

